<h1>My Appointments</h1>
<div class="container center">
  <table>
    <thead>
    <tr>
      <th class="center">Doctor</th>
      <th class="center">Appointments</th>
    </tr>
    </thead>
    <% @user_appointments.each do |appointment| %>
      <% if appointment.active == true %>
    <tr>
      <td style="font-size: large">Dr. <%= appointment.doctor.name %></td>
      <td style="background-color: lightgreen">Active</td>
    </tr>
      <% else %>
    <tr>
      <td style="font-size: large">Dr. <%= appointment.doctor.name %></td>
      <td style="background-color: lightcoral">Closed</td>
    </tr>
      <% end %>
    <% end %>
  </table>
</div>