<header class="navbar navbar-fixed-top" style="background-color: darkcyan;">
  <div class="container">
    <%= link_to root_path, id: 'logo' do %>
      <%= image_tag('logo.png', class: 'logo') %>
      <%= 'Clinic App' %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? || doctor_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>