<div class="container">
  <h1 align="center">Welcome <%= current_user.name %></h1>
  <h3 align="center">
    This is the home page for the ClinicApp sample application.
  </h3>
  <img src="clinic.jpg", class="container">
</div>

