<h1>Appointments</h1>
<div class="cracker1-button container">
<table class="table">
  <thead>
  <tr class="center">
    <th>Patient</th>
    <th>Status</th>
    <th>Recomendation</th>
  </tr>
  </thead>
  <tbody>
  <% @doctors_appointments.each do |appointment| %>
  <tr>
    <% if appointment.active == false %>
      <td style="font-size: large"><%= appointment.user.name %></td>
      <td style="background-color: lightgreen">Open</td>
      <td style="font-family: 'Century Schoolbook L'"><%= link_to 'Create Recomendation', edit_appointment_path(appointment.id), class: 'btn btn-warning' %></td>
    <% else %>
      <td style="font-size: large"><%= appointment.user.name %></td>
      <td style="background-color: lightcoral">Closed</td>
    <% end %>
  </tr>
  </tbody>
  <% end %>
</table>
</div>


