<div class="container cracker1-button">
  <h1><%= "#{@category.name.capitalize}s" %></h1>
  <% @doctors.each do |doctor| %>
  <ul>
    <li style="font-size: x-large"><%= link_to "Dr. #{doctor.name}", doctor_path(doctor) %></li>
  </ul>
  <% end %>
</div>